.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    display: flex;
    flex-direction: column;
    background: #082228;
    border-radius: 5px;
    width: 400px;
    padding: 20px;
    animation: fadeIn 0.3s ease-in-out;
    gap: 12px;
    box-shadow: 0px 0px 10px 1px #000000;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: white;
    padding-bottom: 8px;
}

.modal__close {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background: var(--bg-search);
    height: 30px;
    width: 30px;
    font-size: 24px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.547);
    transition: transform 0.2s;
}

.modal__close:hover {
    transform: scale(1.2);
    color: white;
}

.modal__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    /* padding: 8px; */
}

.modal__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;

}

.modal__types {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    background-color: #0c3240;
    border-radius: 3px;
}

.modal__types div {
    padding: 8px 8px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}

.modal__selectors {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    border-radius: 3px;
    gap: 12px;
}

.modal__selector {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #17617ad2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 2px solid #ffffff00;
    color: white;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.modal__selector.active {
    background-color: #17617a;
    border-bottom: 2px solid #ee8130;
}

.modal__selector:hover {
    background-color: #17617a;
    border-bottom: 2px solid #ee8130;
    cursor: pointer;
}

.modal__data-container {
    height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #0c3240;
    padding: 20px;
}

.modal__stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.modal__stats p {
    font-size: 16px;
    margin: 0;
    color: white;
    font-weight: 300;
}

.modal__stats-data-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal__stats-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 45%;
    margin-right: 20px;
}

.modal__stats-value-bar {
    display: flex;
    align-items: center;
    height: 12px;
    width: 50%;
    border-radius: 10px;
    background-color: #9a9a9a;
}

.modal__stats-value {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: #ee8130;
}

.modal__evolution {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
    width: 100%;
}

.modal__evolution img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    border-radius: 3px;
}

.modal__infos {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.modal__info-spec {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal__info-spec p {
    font-size: 16px;
    margin: 0;
    width: 104px;
    color: white;
    font-weight: 300;
}

.modal__info-value {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    gap: 10px;
}

.modal__info-value p {
    font-size: 16px;
    margin: 0;
    color: white;
    font-weight: 300;
}

.modal__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.modal__footer p {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.577);
    margin: 0;
}

.modal__footer img {
    object-fit: fill;
    width: 36px;
    height: 36px;
    border-radius: 70%;
    opacity: 0.25;
    transition: ease-in-out 0.15s;
}

.modal__footer img:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 0.5;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@media screen and (max-width: 425px) {
    .modal__stats-value--internal {
        display: block;
    }
    .modal__stats-value--external {
        display: none;
    }
    .modal__stats-data {
        margin-right: 0;
        width: 122px;
    }
    .modal__stats-value-bar {
        width: 45%;
    }
}

@media screen and (min-width: 425px) {
    .modal__stats-value--internal {
        display: none;
    }
}